<%= lato_page_head 'Componenti' %>

<%

def component_code(file)
  File.read(Rails.root.join('app', 'views', 'dashboard', 'components', "_#{file}.html.erb"))
end

%>

<p>
Lato dispone di una serie di componenti funzionali riutilizzabili.<br>
Utilizzando le componenti di Lato è possibile risparmiare tempo di lavoro e facilitare le attività di manutenzione dell'applicazione.<br>
Tutte le componenti sono disponibili tramite l'helper <code>Lato::ComponentsHelper</code>.
</p>

<p>
<%= link_to 'Source code: Lato::ComponentsHelper', 'https://github.com/Lato-GAM/lato/blob/main/app/helpers/lato/components_helper.rb', target: '_blank' %>
</p>

<h2>Navbar</h2>

<h3>Navbar nav item</h3>

<p>
Componente per renderizzare una voce di menu nella navbar.
Parametri:<br>
- <i>key</i>: chiave della voce di menu. Utilizzata per attivare la voce di menu se impostata attiva tramite la funzione <code>active_navbar</code> del concern <code>Lato::Layoutable</code>.<br>
- <i>path</i>: path o url assoluto dove rimandare l'utente.<br>
- <i>&block</i>: blocco di HTML da renderizzare all'interno della voce di menu.
</p>

<pre>
&#60;%= lato_navbar_nav_item :account, lato.account_path do %&#62;
  Account
&#60;% end %&#62;
</pre>

<h2>Sidebar</h2>

<h3>Sidebar nav item</h3>

<p>
Componente per renderizzare una voce di menu nella sidebar.
Parametri:<br>
- <i>key</i>: chiave della voce di menu. Utilizzata per attivare la voce di menu se impostata attiva tramite la funzione <code>active_sidebar</code> del concern <code>Lato::Layoutable</code>.<br>
- <i>path</i>: path o url assoluto dove rimandare l'utente.<br>
- <i>&block</i>: blocco di HTML da renderizzare all'interno della voce di menu.
</p>

<pre>
&#60;%= lato_sidebar_nav_item :account, lato.account_path do %&#62;
  Account
&#60;% end %&#62;
</pre>

<h2>Page</h2>

<h3>Page head</h3>

<pre>
&#60;%= lato_page_head 'Titolo pagina' %&#62;
</pre>

<div class="bg-light p-3 mb-3">
<%= lato_page_head 'Titolo pagina' %>
</div>

<pre>
&#60;%= lato_page_head 'Titolo pagina', [{ label: 'Titolo 1', path: main_app.page_path }, { label: 'Titolo 2' }] %&#62;
</pre>

<div class="bg-light p-3 mb-3">
<%= lato_page_head 'Titolo pagina', [{ label: 'Titolo 1', path: '#' }, { label: 'Titolo 2' }] %>
</div>

<pre>
&#60;%= lato_page_head 'Titolo pagina' do %&#62;
  &#60p class="lead"&#62;Benvenuto in questa pagina&#60/p&#62;
&#60;% end %&#62;
</pre>

<div class="bg-light p-3 mb-3">
<%= lato_page_head 'Titolo pagina' do %>
  <p class="lead">Benvenuto in questa pagina</p>
<% end %>
</div>

<h2>Form</h2>

<p>
I form possono essere generati utilizzando le componenti <code>lato_form</code>.<br>
Le componenti <code>lato_form</code> sono una serie di componenti diverse programmate per essere utilizzate con l'helper Rails <code>form_with</code> e il controller Stimulus <code>lato_form_controller</code>.<br>
Di seguito la lista di componenti disponibili e un esempio di utilizzo:
<ul>
  <li><code>lato_form_notices</code> visualizza il feedback positivo al salvataggio (notice impostati dalla action).</li>
  <li><code>lato_form_errors</code> visualizza il feedback negativo al salvataggio (errori presenti nell'istanza del modello).</li>
  <li><code>lato_form_item_label</code> visualizza la label dei campi.</li>
  <li><code>lato_form_item_input_text</code> visualizza un input di testo.</li>
  <li><code>lato_form_item_input_email</code> visualizza un input email.</li>
  <li><code>lato_form_item_input_password</code> visualizza un input password.</li>
  <li><code>lato_form_item_input_check</code> visualizza un input checkbox.</li>
  <li><code>lato_form_submit</code> visualizza il pulsante di submit.</li>
</ul>
</p>

<pre>
<%= component_code('form-example') %>
</pre>

<div class="bg-light p-3 mb-3">
<%= render 'dashboard/components/form-example' %>
</div>
