<%

user ||= Lato::User.new

%>

<%= turbo_frame_tag 'account_form-web3' do %>
  <%= form_with model: user, url: lato.account_update_web3_action_path, data: { turbo_frame: '_self', controller: 'lato-form' } do |form| %>
    <%= lato_form_notices class: %w[mb-3] %>
    <%= lato_form_errors user, class: %w[mb-3] %>

    <% if user.web3_connection_completed? %>
      <div class="row">
        <div class="col col-12 mb-3">
          <%= lato_form_item_label form, :web3_address %>
          <div class="input-group">
            <%= lato_form_item_input_text form, :web3_address, required: true, readonly: true %>
            <button class="btn btn-outline-success" style="pointer-events: none"><%= I18n.t('lato.connected_wallet') %></button>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <%= lato_form_submit form, I18n.t('lato.disconnect_wallet'), class: %w[btn-danger] %>
      </div>
    <% elsif user.web3_connection_started? %>
      <div class="alert alert-light mb-0">
        <h4 class="alert-heading">Connecting..</h4>
        <div class="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
        </div>
      </div>
      
      <span id="account_form-web3__nonce" style="display: none;"><%= user.c_web3_nonce %></span>
      <%= form.hidden_field :web3_address, id: 'account_form-web3__input-web3_address'  %>
      <%= form.hidden_field :web3_signed_nonce, id: 'account_form-web3__input-web3_signed_nonce' %>
      <%= lato_form_submit form, 'Confirm', class: %w[btn-primary d-none], id: 'account_form-web3__submit' %>

      <script>
        (async () => {
          const ethers = await import('https://cdnjs.cloudflare.com/ajax/libs/ethers/5.7.2/ethers.esm.min.js')

          const nonce = document.getElementById('account_form-web3__nonce').innerText
          const inputAddress = document.getElementById('account_form-web3__input-web3_address')
          const inputSignedNonce = document.getElementById('account_form-web3__input-web3_signed_nonce')
          const submitButton = document.getElementById('account_form-web3__submit')

          let address = ''
          let signedNonce = ''

          if (window.ethereum) {
            const provider = new ethers.ethers.providers.Web3Provider(window.ethereum)
            const signer = provider.getSigner()
            address = await signer.getAddress()
            signedNonce = await signer.signMessage(nonce)
          }

          inputAddress.value = address
          inputSignedNonce.value = signedNonce
          submitButton.click()
        })()
      </script>
    <% else %>
      <div class="alert alert-light mb-0">
        <h4 class="alert-heading"><%= I18n.t('lato.account_web3_start_title') %></h4>
        <p>
          <%= raw I18n.t('lato.account_web3_start_description') %>
        </p>
        <p class="mb-0">
          <%= lato_form_submit form, I18n.t('lato.connect_wallet'), class: %w[btn-primary] %>
        </p>
      </div>
    <% end %>
  <% end %>
<% end %>
