<%

user ||= Lato::User.new

%>

<%= turbo_frame_tag 'account_form-user' do %>
  <%= form_with model: user, url: lato.account_update_user_action_path, data: { turbo_frame: '_self' } do |form| %>
    <%= lato_form_notices class: %w[mb-3] %>
    <%= lato_form_errors user, class: %w[mb-3] %>

    <div class="row">
      <div class="col col-12 col-lg-4 mb-3">
        <%= lato_form_item_label form, :first_name, 'Nome' %>
        <%= lato_form_item_input_text form, :first_name, required: true %>
      </div>

      <div class="col col-12 col-lg-4 mb-3">
        <%= lato_form_item_label form, :last_name, 'Cognome' %>
        <%= lato_form_item_input_text form, :last_name, required: true %>
      </div>

      <div class="col col-12 col-lg-4 mb-3">
        <%= lato_form_item_label form, :email, 'Indirizzo email' %>
        <div class="input-group mb-3">
          <%= lato_form_item_input_email form, :email, required: true %>
          <% if user.email_verified_at %>
            <button class="btn btn-outline-success" style="pointer-events: none">Verificato</span>
          <% else %>
            <%= link_to 'Verifica email', account_request_verify_email_action_path, class: 'btn btn-warning', data: { turbo_method: :patch, turbo_frame: '_self' } %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <%= lato_form_submit form, 'Aggiorna', class: %w[btn-success] %>
    </div>
  <% end %>
<% end %>
