<%= lato_page_head I18n.t('lato.account') %>

<%= render 'lato/account/alert-accepted-privacy-policy-version' %>
<%= render 'lato/account/alert-accepted-terms-and-conditions-version' %>

<div class="card mb-4">
  <div class="card-header">
    <h2 class="fs-4 mb-0"><%= I18n.t('lato.account_informations') %></h2>
  </div>
  <div class="card-body">
    <%= render 'lato/account/form-user', user: @session.user %>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header">
    <h2 class="fs-4 mb-0"><%= I18n.t('lato.update_password') %></h2>
  </div>
  <div class="card-body">
    <%= render 'lato/account/form-password', user: @session.user %>
  </div>
</div>

<% if Lato.config.authenticator_connection %>
<div class="card mb-4">
  <div class="card-header">
    <h2 class="fs-4 mb-0"><%= I18n.t('lato.account_authenticator') %></h2>
  </div>
  <div class="card-body">
    <%= render 'lato/account/form-authenticator', user: @session.user %>
  </div>
</div>
<% end %>

<% if Lato.config.webauthn_connection %>
<div class="card mb-4">
  <div class="card-header">
    <h2 class="fs-4 mb-0"><%= I18n.t('lato.account_webauthn') %></h2>
  </div>
  <div class="card-body">
    <%= render 'lato/account/form-webauthn', user: @session.user %>
  </div>
</div>
<% end %>

<% if Lato.config.web3_connection %>
<div class="card mb-4">
  <div class="card-header">
    <h2 class="fs-4 mb-0"><%= I18n.t('lato.account_web3') %></h2>
  </div>
  <div class="card-body">
    <%= render 'lato/account/form-web3', user: @session.user %>
  </div>
</div>
<% end %>

<div class="card mb-4">
  <div class="card-header">
    <h2 class="fs-4 mb-0"><%= I18n.t('lato.account_delete') %></h2>
  </div>
  <div class="card-body">
    <div class="alert alert-warning">
      <h4 class="alert-heading"><%= I18n.t('lato.warning') %></h4>
      <p>
        <%= raw I18n.t('lato.account_delete_details') %>
      </p>
      <p class="mb-0">
        <%= raw I18n.t('lato.account_delete_guide') %>
      </p>
    </div>

    <%= render 'lato/account/form-destroy', user: @session.user %>
  </div>
</div>