<%

user ||= Lato::User.new

%>

<%= form_with model: user, url: lato.authentication_signin_action_path do |form| %>
  <%= lato_form_errors user, class: %w[col col-12 mb-3] %>
  
  <div class="mb-3">
    <%= lato_form_item_label form, :email, 'Email' %>
    <%= lato_form_item_input_email form, :email, required: true %>
  </div>

  <div class="mb-3">
    <%= lato_form_item_label form, :password, 'Password' %>
    <%= lato_form_item_input_password form, :password, required: true %>
  </div>

  <div class="d-flex justify-content-end">
    <%= lato_form_submit form, 'Accedi' %>
  </div>
<% end %>