<%

user ||= Lato::User.new

%>

<%= turbo_frame_tag 'authentication_form-authenticator' do %>
  <%= form_with model: user, url: lato.authentication_authenticator_action_path, method: :post, data: { turbo_frame: '_self', controller: 'lato-form' } do |form| %>
    <%= lato_form_notices class: %w[mb-3] %>
    <%= lato_form_errors user, class: %w[mb-3] %>

    <div class="mb-3 text-center">
      <p><%= raw I18n.t('lato.authenticator_code_help', email: user.email) %></p>
    </div>
    
    <div class="mb-3">
      <%= lato_form_item_input_text form, :authenticator_code, required: true %>
    </div>

    <div>
      <%= lato_form_submit form, I18n.t('lato.confirm'), class: %w[d-block w-100] %>
    </div>

    <div class="text-center mt-3 mb-3">
      <%= I18n.t('lato.or').downcase %> <%= link_to I18n.t('lato.reset_password').downcase, lato.authentication_recover_password_path %>
    </div>
  <% end %>
<% end %>
