<%

user ||= Lato::User.new

%>

<%= form_with model: user, url: lato.authentication_signin_action_path do |form| %>
  <%= lato_form_notices class: %w[mb-3] %>
  <%= lato_form_errors user, class: %w[mb-3] %>
  
  <div class="mb-3">
    <%= lato_form_item_label form, :email, 'Email' %>
    <%= lato_form_item_input_email form, :email, required: true %>
  </div>

  <div class="mb-3">
    <%= lato_form_item_label form, :password, 'Password' %>
    <%= lato_form_item_input_password form, :password, required: true %>
  </div>

  <div>
    <%= lato_form_submit form, 'Accedi', class: %w[d-block w-100] %>
  </div>
  <div class="text-center mt-3 mb-3">
    oppure <%= link_to 'crea un account gratuito', lato.authentication_signup_path %>
  </div>
<% end %>