<%

user ||= Lato::User.new

%>

<%= turbo_frame_tag 'authentication_form-signup' do %>
  <%= form_with model: user, url: lato.authentication_signup_action_path, data: { turbo_frame: '_self', controller: 'lato-form' } do |form| %>
    <%= lato_form_errors user, class: %w[mb-3] %>
    
    <%= render 'lato/authentication/fields-registration', form: form %>

    <div class="d-flex justify-content-end">
      <%= lato_form_submit form, I18n.t('lato.signup') %>
    </div>
  <% end %>
<% end %>