<nav id="nav" class="navbar <%= Lato.btstrap.navbar %>">
  <div class="<%= Lato.btstrap.navbar__container %>">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= render 'layouts/lato/navbar-brand_content' %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse <%= Lato.btstrap.navbar__collapse %>" id="navbarMenu">
      <ul class="navbar-nav">
        <%= render 'layouts/lato/navbar-nav_content' %>
      </ul>
    </div>
  </div>
</nav>