<!DOCTYPE html>
<html>
<head>
  <title><%= Lato.config.application_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "lato", media: "all" %>
</head>
<body>
  <header>
    <%= render 'layouts/lato/navbar' %>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>

  </footer>
</body>
</html>
