<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= Lato.config.application_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_importmap_tags %>
</head>
<body
  class="controller-<%= controller_name %> action-<%= action_name %>"
>
  <header>
    <%= render 'layouts/lato/navbar' %>
  </header>

  <div class="d-flex">

    <% if @layout_sidebar %>
      <aside>
        <%= render 'layouts/lato/sidebar' %>
      </aside>
    <% end %>

    <main>
      <%= render 'layouts/lato/content' %>
    </main>
  </div>

  <button
    class="aside-opener shadow"
    data-controller="lato-aside-opener"
    data-action="click->lato-aside-opener#toggle"
  >
    <i class="bi bi-layout-text-sidebar-reverse"></i>
  </button>

  <footer>
    <%= render 'layouts/lato/footer' %>
  </footer>
</body>
</html>
