<!DOCTYPE html>
<html>
<head>
  <title><%= Lato.config.application_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <header>
    <%= render 'layouts/lato/navbar' %>
  </header>

  <div class="d-flex">

    <% if @layout_sidebar %>
      <aside>
        <%= render 'layouts/lato/sidebar' %>
      </aside>
    <% end %>

    <main>
      <%= render 'layouts/lato/content' %>
    </main>
  </div>

  <footer>
    <%= render 'layouts/lato/footer' %>
  </footer>
</body>
</html>
