<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <title><%= @layout_page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
  <meta name="view-transition" content="same-origin" />

  <% if response.status >= 500 %>
    <meta name="turbo-visit-control" content="reload">
  <% end %>

  <%= render 'layouts/lato/head_content' %>

  <% # TEMPORARY FIX: Popper js not working using bootstrap-gem %>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  
  <%= stylesheet_link_tag Lato.config.assets_stylesheet_entry, media: "all" %>
  <%= javascript_importmap_tags Lato.config.assets_importmap_entry %>
</head>
<body
  class="controller-<%= controller_name %> action-<%= action_name %> <%= @layout_body_classes.join(' ') %>"
  data-controller="lato-action lato-guide"
>
  <header>
    <%= render 'layouts/lato/navbar' %>
  </header>

  <div class="d-flex">

    <% if @layout_sidebar %>
      <aside>
        <%= render 'layouts/lato/sidebar' %>
      </aside>
    <% end %>

    <main class="<%= @layout_sidebar ? 'layout_sidebar' : '' %>">
      <%= render 'layouts/lato/content' %>
    </main>
  </div>

  <footer>
    <%= render 'layouts/lato/footer' %>
  </footer>

  <% if @layout_sidebar %>
    <%= render 'layouts/lato/aside-opener' %>
  <% end %>
  
  <%= render 'layouts/lato/confirm' %>
  <%= render 'layouts/lato/feedbacks' %>
  <%= render 'layouts/lato/action' %>
  <%= render 'layouts/lato/network' %>

  <%= render 'layouts/lato/foot_content' %>
</body>
</html>
