<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= Lato.config.application_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- TEMPORARY FIX: Popper js not working using bootstrap-gem -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>

  <%= stylesheet_link_tag Lato.config.assets_stylesheet_entry, media: "all" %>
  <%= javascript_importmap_tags %>
</head>
<body
  class="controller-<%= controller_name %> action-<%= action_name %>"
  data-controller="lato-action"
>
  <header>
    <%= render 'layouts/lato/navbar' %>
  </header>

  <div class="d-flex">

    <% if @layout_sidebar %>
      <aside>
        <%= render 'layouts/lato/sidebar' %>
      </aside>
    <% end %>

    <main>
      <%= render 'layouts/lato/content' %>
    </main>
  </div>

  

  <footer>
    <%= render 'layouts/lato/footer' %>
  </footer>

  <%= render 'layouts/lato/aside-opener' %>
  <%= render 'layouts/lato/feedbacks' %>
  <%= render 'layouts/lato/action' %>
</body>
</html>
