<%= turbo_frame_tag 'lato_operation' do %>
  <div data-controller="lato-operation">
    <% if operation.created_status? %>
      <div class="text-center">
        <h2><%= I18n.t('lato.operation_title') %></h2>
        <p><%= I18n.t('lato.operation_subtitle') %></p>
        <div class="progress" style="height: 20px;">
          <div class="progress-bar progress-bar-animated progress-bar-striped bg-primary" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    <% end %>

    <% if operation.running_status? %>
      <div class="text-center">
        <h2><%= I18n.t('lato.operation_title') %></h2>
        <p><%= I18n.t('lato.operation_subtitle') %></p>

        <% if operation.percentage.nil? %>
          <div class="progress" style="height: 20px;">
            <div class="progress-bar progress-bar-animated progress-bar-striped bg-primary" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        <% else %>
          <div class="progress" style="height: 20px;">
            <div class="progress-bar progress-bar-animated progress-bar-striped bg-primary" role="progressbar" style="width: <%= operation.percentage %>%;" aria-valuenow="<%= operation.percentage %>" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><%= operation.percentage %>%</div>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if operation.completed_status? %>
      <div class="text-center">
        <div class="fs-1 text-success">
          <i class="bi bi-check-circle"></i>
        </div>
        <h2><%= I18n.t('lato.operation_completed_title') %></h2>
        <p><%= I18n.t('lato.operation_completed_subtitle') %></p>

        <% if operation.output_file? %>
          <%= link_to '', main_app.url_for(operation.output_file), download: true, class: 'd-none', data: { lato_operation_target: 'outputFile' } %>
        <% end %>

        <% if operation.output_message? %>
          <p class="text-success fw-bold">
            <%= operation.output_message %>
          </p>
        <% end %>
      </div>
    <% end %>

    <% if operation.failed_status? %>
      <div class="text-center">
        <div class="fs-1 text-danger">
          <i class="bi bi-x-circle"></i>
        </div>
        <h2><%= I18n.t('lato.operation_failed_title') %></h2>
        <p><%= I18n.t('lato.operation_failed_subtitle') %></p>
        <% if operation.output_error? %>
          <p class="text-danger fw-bold">
            <%= operation.output_error %>
          </p>
        <% end %>
      </div>
    <% end %>

    <% if operation.logs&.any? %>
      <div class="mt-4">
        <div class="border rounded p-3 bg-light" style="max-height: 300px; overflow-y: auto;">
          <% operation.logs.reverse.each do |log| %>
            <div class="mb-2 pb-2 border-bottom d-flex justify-content-between align-items-center">
              <p class="mb-0"><%= log[1] %></p>
              <small class="text-muted ms-2"><%= I18n.l(Time.parse(log[0]), format: '%H:%M:%S') %></small>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <% unless operation.finished? %>
      <%= link_to '', lato.operation_path(operation), class: 'd-none', data: { lato_operation_target: 'update', turbo_frame: '_self' } %>
    <% end %>
  </div>
<% end %>